$composer-font-size: 13px;

.composer {
  font-size: $composer-font-size;
  min-height: $composer-font-size;

  font-family: sans-serif;

  p {
    margin: 0;
  }
}

.composer__mention {
  background-color: #DADADA;
  border: 0;
  font-size: $composer-font-size;
  padding: 0 3px;
}
