.dropdown {
  margin: 0;
  padding: 0;

  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #ADADAD;
  list-style-type: none;
}

.dropdown__item {
  display: table;
  padding: 10px 0;
  table-layout: fixed;
  width: 100%;

  cursor: pointer;
}

%dropdown-item-selected {
  background-color: #ECECEC;
}

.dropdown__item:hover {
  @extend %dropdown-item-selected;
}

.dropdown__item--selected {
  @extend %dropdown-item-selected;
}

%dropdown__item__cell {
  display: table-cell;
  vertical-align: middle;
}

.dropdown__item__name {
  @extend %dropdown__item__cell;

  font-size: 13px;
  margin: 0;
  overflow: hidden;
  width: 80%;

  font-family: sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown__item__name__highlight {
  text-decoration: underline;  
}

.dropdown__item__avatar {
  @extend %dropdown__item__cell;

  padding: 0 10px;
}

.dropdown__item__avatar__image {
  border-radius: 50%;
  vertical-align: middle;
  width: 100%;
}
