.mentioner {
  position: relative;
}

.mentioner__composer {
  border-radius: 3px;
  padding: 10px;
  white-space: pre;

  background-color: #F5F5F5;
  font-family: sans-serif;
}

.mentioner__dropdown {
  border-width: 1px;
  max-width: 180px;
  position: absolute;

  border-color: black;
  border-style: solid;

  &--hidden {
    display: none;
  }
}
